/* Use the following CSS rules to specify these families:*/

/*FOR HEADERS AND TITLES*/
font-family: 'Playfair Display', serif;

/*FOR PRAGRAPHS etc.*/
font-family: 'Libre Baskerville', serif;

/*NAVBAR*/
.nav-container {
	display: flex; 
	justify-content: flex-end;
	flex-direction: row;
	flex-wrap: wrap;	
	text-decoration: none;
	margin: -8px;
}

.logo {
	text-align: center;
	position: absolute;
	margin: 0px;
	font-size: 2em;
	color: white;
}

ul {
	background-color: gray;
	padding: 16px;
	margin: -8px;
	text-align: right;
}


ul li {
	background-color: gray;
	font-family: 'Playfair Display', serif;
	font-size: 1em;
	color: black;
	list-style-type: none;
	margin: -3px;
	display: inline;
	text-decoration: none;
	padding: 14px 1px;
	line-height: 18px;
}

nav a {
	text-decoration: none;
	transition: .3s background-color;
	padding: 16px;
	color: white;
}

nav a:hover {
	background-color: white;
	color: black;
}
/*HOMEPAGE STYLING*/
div.mainimage {
  max-width: 100%;
	content:url("Guineamain (1).png");
	float: right;
}
.footer {
	height: 21px;
	background: gray;
	color: white;
	margin: -9px;
	padding: 22px;
	font-family: 'Playfair Display', serif;
	text-align: center;
}


/* JOBS PAGE STYLING */
.career-header {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	margin-top: 60px;
}

.career-blurb {
	font-family: 'Libre Baskerville', serif;
	margin: 20px;
}

.job-header  {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	margin-top: 50px;
}

.apply {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
}

.pig-work {
	width: 250px;
	height: 250px;
}

.pig-work h5 {
	margin-top: 5px;
}

.work-image {
	width: 250px;
	height: 200px;
}

#images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

#job-container {
	font-family: 'Libre Baskerville', serif;
}

#job-container > h3, h4, p {
	margin: 2px 20px;
}


.job {
	padding: 20px 0;
	border-bottom: 2px solid black;
	margin: 0 20px;
}

.description {
	font-size: .75em;
	padding: 5px 0;
}

.title {
	margin: 2px 20px;
}

#apply-button {
	margin-left: 20px;
	font-family: 'Libre Baskerville', serif;
}

/*STICKY FOOTER*/
.Site {	
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.Site-content {
	flex: 1;
}
/*SHOP NOW BUTTON*/	
.button {
	background-color: gray;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 28px;
  position: absolute;
  margin-top: 30%;
  margin-left: 15%;
  margin-right: 50%;
	font-family: 'Playfair Display', serif;
	padding: 9px;
}

/*PRESS PAGE*/
#press-container section {
  display: flex;
  margin: 5% 15% 5% 10%;
}
#press-container h3 {
	font-family: 'Playfair Display', serif;
}
#press-container p {
	font-family: 'Libre Baskerville', serif;
}
#press-container img {
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
}
.award-description {
	margin-left: 3%;
}
.award-name {
	font-size: 1.4em;
	font-weight: 400;
	padding-bottom: 1px;
  margin-top: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid black;
}
.award-blurb {
  margin-top: 0;
  text-indent: 2em;
  line-height: 1.5em;
}




/*TEAM PAGE*/
#color-box {
	background-color: ghostwhite;
}
#team-page-header, .shop-now, #press-page-header {
  padding-top: 25px;
  text-align: center;
  font-size: 1.6em;
	font-family: 'Playfair Display', serif;
}
#employee-container {
	margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 2% 0;
}
.employee {
	padding: 2% 5%;
  margin-bottom: 30px;
  background-color: ghostwhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

}
.employee img {
	width: 200px;
	height: 200px;
}
.employee h2 {
	margin-top: 2px;
	font-size: 1.7em;
	font-family: 'Playfair Display', serif;
}
.employee h3, .employee p {
	font-family: 'Libre Baskerville', serif;
}
.employee h3 {
	font-size: 1.1em;
	border-bottom: 2px solid black;
}






/*HOMEPAGE TEXT*/
.Homepage-text {
	color: black;
  position: absolute;
  margin-top: 20%;
  margin-left: 5%;
  font-family: 'Playfair Display', serif;
	font-size: 40px;
	text-shadow: 0px 1px grey;
}














/*Culture*/
#culture-container img {
	display: block;
	margin: auto;
	margin-top: 5%;
	width: 400px;
	height: 300px;
	border-radius: 100px;
}
#culture-container h3 {
	font-family: 'Playfair Display', serif;
}
#culture-container p {
	font-family: 'Libre Baskerville', serif;
}
#culture-container section {
	margin-top: 5%;
	margin-bottom: 5%;
}
.culture-description {
	margin-left: 7%;
	margin-right: 7%;
}
.cult-name {
	font-size: 1.7em;
	font-weight: 500;
	padding-bottom: 2px;
  margin-bottom: 30px;
  border-bottom: 3px solid black;
}
.cult-blurb {
  text-indent: 2em;
  line-height: 2em;
}



































/*Shop*/


#product-container {
  margin: 40px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 2% 0;
  background-color: ghostwhite;
}

/***** Card Styling *****/

.product {
  width: 300px;
  height: 260px;
  padding: 2% 2%;
  margin-bottom: 30px;
  background-color: ghostwhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.image img {
	width: 250px;
	height: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.details > * {
	text-align: center;
	margin: 0;
}

.details {
	padding: 2% 0;
}

.details h3 {
	font-size: 1.3em;
	border-bottom: 1.1px solid black;
	margin-top: 10px;

}

.details h5 {
	display: inline-block;
	text-align: end;
}


/***** Card Layout *****/

/*#product-container {
	font-family: 'Libre Baskerville', serif;
	color: dimgray;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}*/