/* Use the following CSS rules to specify these families:*/

/*FOR HEADERS AND TITLES*/
font-family: 'Playfair Display', serif;

/*FOR PRAGRAPHS etc.*/
font-family: 'Libre Baskerville', serif;

/*NAVBAR*/
.nav-container {
	display: flex; 
	justify-content: flex-end;
	flex-direction: row;
	flex-wrap: wrap;	
	text-decoration: none;
	margin: -8px;
}

.logo {
	text-align: center;
	position: absolute;
	margin: 0px;
	font-size: 2em;
	color: white;
}

ul {
	background-color: gray;
	padding: 16px;
	margin: -8px;
	text-align: right;
}


ul li {
	background-color: gray;
	font-family: 'Playfair Display', serif;
	font-size: 1em;
	color: black;
	list-style-type: none;
	margin: -3px;
	display: inline;
	text-decoration: none;
	padding: 14px 1px;
	line-height: 18px;
}

nav a {
	text-decoration: none;
	transition: .3s background-color;
	padding: 16px;
	color: white;
}

nav a:hover {
	background-color: white;
	color: black;
}
/*HOMEPAGE STYLING*/
div.mainimage {
	width: 893px;
	height: 548px;
	content:url("Guineamain (1).png");
	float: right;
	padding-left: 378px;	
}
.footer {
	height: 21px;
	background: gray;
	color: white;
	margin: -9px;
	padding: 22px;
	font-family: 'Playfair Display', serif;
	text-align: center;
}


/* JOBS PAGE STYLING */
.career-header {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
	margin-top: 60px;
	color: dimgray;
}

.career-blurb {
	font-family: 'Libre Baskerville', serif;
	color: dimgray;
	margin: 20px;
}

.job-header  {
	font-family: 'Libre Baskerville', serif;
	color: dimgray;
	text-align: center;
	margin-top: 50px;
}

.apply {
	font-family: 'Libre Baskerville', serif;
	color: dimgray;
	text-align: center;
	margin: 20px 0;
	border-bottom: 2px solid black;
}

#job-container {
	font-family: 'Libre Baskerville', serif;
	color: dimgray;
}

#job-container > h3, h4, p {
	margin: 2px 20px;
}

.job {
	padding: 20px 0;
	border-bottom: 2px solid black;
}

.description {
	font-size: .75em;
}

.title {
	margin: 2px 20px;
}

#apply-button {
	margin-left: 20px;
	font-family: 'Libre Baskerville', serif;
	color: dimgray;
}

/*STICKY FOOTER*/
.Site {	
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.Site-content {
	flex: 1;
}
/*SHOP NOW BUTTON*/	
.button {
	background-color: gray;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 28px;
	width: 182px;
	position: relative;
	top: -261px;
	left: 309px;
	font-family: 'Playfair Display', serif;
	padding: 9px;
}

/*PRESS PAGE*/
#press-container h3 {
	font-family: 'Playfair Display', serif;
}
#press-container p {
	font-family: 'Libre Baskerville', serif;
}
#press-container section {
  display: flex;
  margin: 5% 15% 5% 10%;
  }
#press-container img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.award-description {
	margin-left: 3%;
}
.award-name {
	font-size: 1.4em;
	font-weight: 400;
	padding-bottom: 1px;
  margin-top: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid black;
}
.award-blurb {
  margin-top: 0;
  text-indent: 2em;
  line-height: 1.5em;
}




/*TEAM PAGE*/
#employee-container {
	margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 2% 0;
}
.employee {
	padding: 2% 5%;
  background-color: aliceblue;
  margin-bottom: 30px;
}
.employee img {
	width: 300px;
	height: 300px;
}
.employee h2 {
	margin-top: 2px;
}
#team-page-header {
  padding-top: 25px;
  text-align: center;

}
/*SHOP PAGE*/
#product-container {
margin: 1% auto;
}
.product {

}
.product img {
	width: 375px;
	height: 400px;
}

/*HOMEPAGE TEXT*/
.Homepage-text {
	color: black;
	position: relative;
	top: -500px;
	left: 177px;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	text-shadow: 0px 1px grey;
}







