/* Use the following CSS rules to specify these families:*/

/*FOR HEADERS AND TITLES*/
font-family: 'Playfair Display', serif;

/*FOR PRAGRAPHS etc.*/
font-family: 'Libre Baskerville', serif;

/*NAVBAR*/
.nav-container {
	display: flex; 
	justify-content: flex-end;
	flex-direction: row;
	flex-wrap: wrap;	
	text-decoration: none;
	margin: -8px;
}

.logo {
	text-align: center;
	position: fixed;
	margin: 7px;
	font-size: 2em;
	color: white;
}

ul {
	background-color: gray;
	padding: 16px;
	margin: -8px;
	text-align: right;
}


ul li {
	background-color: gray;
	font-family: 'Playfair Display', serif;
	font-size: 1em;
	color: black;
	list-style-type: none;
	margin: -3px;
	display: inline;
	text-decoration: none;
	padding: 14px 1px;
	line-height: 18px;
}




nav a {
	text-decoration: none;
	transition: .3s background-color;
	padding: 16px;
	color: white;
}

nav a:hover {
	background-color: white;
	color: black;
}

/*PRESS PAGE*/
#press-container h3 {
	font-family: 'Playfair Display', serif;
}
#press-container p {
	font-family: 'Libre Baskerville', serif;
}
#press-container section {
  display: flex;
  margin: 5% 15% 5% 10%;
  }
#press-container img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.award-description {
	margin-left: 3%;
}
.award-name {
	font-size: 1.4em;
	font-weight: 400;
	padding-bottom: 1px;
  margin-top: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid black;
}
.award-blurb {
  margin-top: 0;
  text-indent: 2em;
  line-height: 1.5em;
}